body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
  }

canvas {
    background-color: black;
}


