@font-face {
    font-family: 'Zabars';
    src: url('fonts/zabars.ttf') format('truetype');
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: 5px;
    text-shadow: 4px 2px 8px rgba(0, 0, 0, 0.6);
}

canvas {
    background-color: black;
    border-radius: 16px;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.6);
}